shuup==2.3.0
# git+https://github.com/Hispar/shuup.git@translation/spanish#egg=shuup
git+https://github.com/Hispar/shuup-stripe.git@refactor#egg=shuup-stripe

# shuup-stripe==2.0.0
# shuup-yaml

python-memcached==1.59
whitenoise==5.2.0